SUPABASE_URL=https://qqapvyqmlchdoodhkchz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxYXB2eXFtbGNoZG9vZGhrY2h6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzMxMjk2NSwiZXhwIjoyMDU4ODg4OTY1fQ.ANXKMUKSA9UhsknJ2yw3EMQFl8Xki1p1WeoIuee90xA
OPENAI_API_KEY=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